.gallery{
    border: 5px  solid black;
    float: left;
    padding: 10px;
}

img{
    width: 350px;
    height: 200px;
}

.text{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}